@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "sans-serif";
  color: white;
}

body {
  background-color: #1f2833;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image {
  animation: float 2s infinite;
}
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #45a29e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: cyan;
}
